.pacifico-regular {
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
}

.lato-regular {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.cinzel-regular {
    font-family: "Cinzel", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

body {
    margin: 0;
}

main {
    display: flex;
    flex-direction: column;
}

#hero h1 {
    color: rgb(67, 86, 99);
    margin: 0
}

p h2{
    color: rgb(49, 54, 71);
    font-size: 0.8rem;
    margin: 0;
    margin-bottom: 50px;
}

#hero {
   background-image: url("./assets/images/topo.png");
   height: 80vh;
}

#about-me {
    background-image: url("./assets/images/topo-green.png");
   
}

#projects {
    background-image: url("./assets/images/topo-beige.png");
}

#contact {
    background-image: url("./assets/images/topo.png");
    color: rgb(49, 54, 71);
}

#about-me img {
    border-radius: 50%;
    border: 5px solid rgb(197, 21, 21);
    height: 100px;
    width: 100px;
}

.centering-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
