.pacifico-regular {
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
}

.lato-regular {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {
    margin: 0;
}

main {
    display: flex;
    flex-direction: column;
}

#hero h1 {
    color: rgb(67, 86, 99);
    font-size: 2.2rem;
    margin: 0
}

#hero p {
    color: rgb(49, 54, 71);
    font-size: 0.8rem;
    margin: 0;
    margin-bottom: 50px;
}

#hero {
   background-image: url("./assets/images/topo.png");
   height: 80vh;
}

#projects {
    background-image: url("./assets/images/topo.png");
}


#about-me {
    background-color: #FFF8D4;
   
}

.centering-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
